body{
    background-color:rgba(221, 217, 216, 0.596);
}
.plate{
    background-image: linear-gradient(to left bottom, rgba(230, 4, 4, 0.849), rgba(16, 9, 109, 0.425));
    resize: 100%;
    height:600px;
    width:1000px;
    margin:auto;
    margin-top: 90px;
    position: relative;
    border-radius: 15px;
}
.one{
    background-color: white;
    width: 365px;
    height:150px;
    position: absolute;
    top: 78px;
    right: 43px;
    border: 3px solid rgb(243, 237, 237);
    border-radius: 10px;
}
.one img{
    width: 75px;
    height: 75px;
    border: 3px solid rgb(231, 218, 218);
    border-radius: 50%;
    position: absolute;
    top: -35px;
    left: 20px
}
/* .one img:hover{
    border: 3px solid rgb(148, 123, 123);
} */

#riadfb{
    width: 70px;
    height: 45px;
    position: absolute;
    top: 108px;
    border: none;
}
#riadyt{
    width: 52px;
    height: 44px;
    position: absolute;
    top: 111px;
    left: 44%;
    border: none
}
#riadinsta{
    width: 35px;
    height: 32px;
    position: absolute;
    top: 116px;
    /* right: 113px; */
    left: 298px;
    border: none;
}
.one p{
    text-align: center;
    font-family: -webkit-pictograph;
    margin-top: 45px;
}

.two{
    background-color: rgb(255, 255, 255);
    width: 365px;
    height:150px;
    position: absolute;
    right: 150px;
    bottom: 40px;
    border: 3px solid rgb(243, 237, 237);
    border-radius: 10px;
}
.two img{
    width: 75px;
    height: 75px;
    border: 3px solid rgb(231, 218, 218);
    border-radius: 50%;
    position: absolute;
    top: -35px;
    left: 20px
}
/* .two img:hover{
    border: 3px solid rgb(148, 123, 123);
} */
.two p{
    text-align: center;
    font-family: -webkit-pictograph;
    margin-top: 45px;

}
.three{
    background-color: white;
    width: 365px;
    height:150px;
    position: absolute;
    left:50px;
    top:195px;
    border: 3px solid rgb(243, 237, 237);
    border-radius: 10px;
}
.three img{
    width: 75px;
    height: 75px;
    border: 3px solid rgb(231, 218, 218);
    border-radius: 50%;
    position: absolute;
    top: -35px;
    left: 20px
}
/* .three img:hover{
    border: 3px solid rgb(148, 123, 123);
} */
.three p{
    text-align: center;
    font-family: -webkit-pictograph;
    margin-top: 45px;
}

