body {
    height: 100%;
    margin:0;
    padding:0;

}
.purata{
    background-color: #130635;
    width:100%;
    height: 720px;
    overflow: hidden;
    position: relative;
}

.lal{
    background-color: red;
    height: 600px;
    width: 600px;
    position:absolute;
    top: 0px;
    right:0px;
    bottom:0px;
    margin:auto;
}
.name{
    background-color: rgb(255, 255, 255);
    height: 55px;
    width: 500px;
    position: absolute;
    top: 80px;
    right: 190px;

}
.name input[type=text]{
    outline: none;
    padding: 10px 335px 29px 10px;
    border: 1px solid white;
    outline: none;
    overflow:hidden;
}
.email{
    background-color: rgb(255, 255, 255);
    height: 55px;
    width: 500px;
    position: absolute;
    top: 160px;
    right: 190px;
}
.email input[type=email]{
    outline: none;
    padding: 10px 335px 29px 10px;
    border: 1px solid white;
    outline: none;
    overflow:hidden;
}
textarea{

    resize: none;
    height: 150px;
    width: 499px;
    margin-left: 900px;
    margin-top: 20px;
    position: absolute;
    position: absolute;
    top: 220px;
    right: 180px;
    padding: 8px 0px 5px 10px;
    border: 1px solid white;
    outline: none;
    overflow:hidden;
}
textarea::placeholder{
    font-family: Arial, Helvetica, sans-serif;
}

.submit button[type=submit]{

    height: 50px;
    width: 130px;
    background-color: #130635;
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    letter-spacing: 3px;
    position: absolute;
    left: 113px;
    bottom: 120px;
    right: 0px;
    margin: auto;
}

.likha2 h2{
    position: absolute;
    display: inline;
    width: fit-content;
    font-size: 44px;
    COLOR: rgb(255, 255, 255);
    border-bottom: 3px solid white;
    top: 0px;
    left: 160px;

}

.likha2 hr{
    width: 300px;
    position: absolute;
}

.likha2 {
        width: 620px;
        height: 300px;
        background-color: #130635;
        position: absolute;
        top: 0px;
        left: 75px;
        bottom: 100px;
        margin:auto;
        text-align: center;
    }
.likha2 p{
    color: rgb(255, 255, 255);
    top: 120px;
    position: absolute;
}
