h1{ overflow: hidden;
    margin: auto;
    color:rgba(231, 46, 179, 0.699);
    height:fit-content;
    width:fit-content;
}

/* PROJECT:01 */
a{
    display: inline-block;
    text-decoration: none;
}
.project1{
    height: 295px;
    width: 490px;
    background-color: rgb(255, 255, 255);
    margin-top: 25px;
    box-shadow: 0px 0px 7px 1px black;
    margin-right: 6px;
    border-radius: 5px;
    
}

.project1 img{
    height: 260px;
    width:490px;
}
.project1 h3{
    color:black;
    margin:auto;
    text-align: center;
    margin-top: 2px;
}
.project1:hover{
    transform:scale(1.01);
    transition: 0.5s;

}

/* PROJECT:2 */

.project2{
    height: 295px;
    width: 490px;
    background-color: rgb(255, 255, 255);
    margin-top: 25px;
    box-shadow: 0px 0px 7px 1px black;
    margin-right: 7px;
    border-radius: 5px;

    
}

.project2 img{
    height: 260px;
    width:490px;
}
.project2 h3{
    color:black;
    margin:auto;
    text-align: center;
    margin-top: 2px;
}
.project2:hover{
    transform:scale(1.01);
    transition: 0.5s;

}

/* PROJECT:3 */

.project3{
    height: 295px;
    width: 490px;
    background-color: rgb(255, 255, 255);
    margin-top: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 1px black;
    margin-right: -9px;

    
}

.project3 img{
    height: 260px;
    width:490px;
}
.project3 h3{
    color:black;
    margin:auto;
    text-align: center;
    margin-top: 2px;
}
.project3:hover{
    transform:scale(1.01);
    transition: 0.5s;

}

/* PROJECT:04 */
a{
    display: inline-block;
    text-decoration: none;
}
.project4{
    height: 295px;
    width: 490px;
    background-color: rgb(255, 255, 255);
    margin-top: 25px;
    box-shadow: 0px 0px 7px 1px black;
    margin-right: 7px;
    border-radius: 5px;
    
}

.project4 img{
    height: 260px;
    width:490px;
}
.project4 h3{
    color:black;
    margin:auto;
    text-align: center;
    margin-top: 2px;
}
.project4:hover{
    transform:scale(1.01);
    transition: 0.5s;

}


/* PROJECT:05 */
a{
    display: inline-block;
    text-decoration: none;
}
.project5{
    height: 295px;
    width: 490px;
    background-color: rgb(255, 255, 255);
    margin-top: 25px;
    box-shadow: 0px 0px 7px 1px black;
    margin-right: 7px;
    border-radius: 5px;
    
}

.project5 img{
    height: 260px;
    width:490px;
}
.project5 h3{
    color:black;
    margin:auto;
    text-align: center;
    margin-top: 2px;
}
.project5:hover{
    transform:scale(1.01);
    transition: 0.5s;

}


/* PROJECT:06 */
a{
    display: inline-block;
    text-decoration: none;
}
.project6{
    height: 295px;
    width: 490px;
    background-color: rgb(255, 255, 255);
    margin-top: 25px;
    box-shadow: 0px 0px 7px 1px black;
    margin-right: 7px;
    border-radius: 5px;
    
}

.project6 img{
    height: 260px;
    width:490px;
}
.project6 h3{
    color:black;
    margin:auto;
    text-align: center;
    margin-top: 2px;
}
.project6:hover{
    transform:scale(1.01);
    transition: 0.5s;

}
