body{
    background-color: #130635;
    overflow: hidden;
}
.hudai{
    position:relative;
}
.lal{
    position: absolute;
    height: 600px;
    width: 40%;
    background-color: red;
    right: -10px;
    top: 700px;
    bottom: 0px;
    margin: auto;
}
.name{
    background-color: rgb(255, 255, 255);
    height: 55px;
    width: 500px;
    position: absolute;
    top: 120px;
    right: 190px;

}
.email{
    background-color: rgb(255, 255, 255);
    height: 55px;
    width: 500px;
    position: absolute;
    top: 200px;
    right: 190px;
}
textarea{

    resize: none;
    height: 150px;
    width: 499px;
    margin-left: 900px;
    margin-top: 20px;
    position: absolute;
    position: absolute;
    top: 260px;
    right: 180px;
    padding: 8px 0px 5px 10px;
    border: 1px solid white;
    outline: none;
    overflow:hidden;
}
textarea::placeholder{
    font-family: Arial, Helvetica, sans-serif;
}

.name input[type=text]{
    outline: none;
    padding: 10px 335px 29px 10px;
    border: 1px solid white;
    outline: none;
    overflow:hidden;
}

.email input[type=email]{
    outline: none;
    padding: 10px 335px 29px 10px;
    border: 1px solid white;
    outline: none;
    overflow:hidden;
}
/* .submit{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
} */
/* .submit button[type=submit]{
    position: absolute;
    top: 1000px;
    right: 175px;
    bottom: 0;
    margin: auto;
    padding: 25px 30px;
    background-color: #130635;
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    letter-spacing: 3px;
    overflow: hidden;
} */
.submit button[type=submit]{

    height: 50px;
    width: 130px;
    background-color: #130635;
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    letter-spacing: 3px;
    position: absolute;
    top: 1000px;
    right: 178px;
    bottom:0px;
    margin: auto;
}
.likha {
    width: 620px;
    height: 300px;
    position: absolute;
    top: 177px;
    left: 89px;
    bottom: 0px;
    text-align: center;
}
.likha h2{
    display: inline;
    width: fit-content;
    font-size: 44px;
    COLOR: WHITE;
    border-bottom: 3px solid white;

}
.likha hr{
    width: 300px;
}
.likha p{
    color: white;
    margin-top: 80px;
}
